<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Vue.js Poster Shop</title>
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="header">
        <h1>Vue.js Poster Store</h1>
        <form class="searchbar" v-on:submit.prevent="onSubmit">
            <input placeholder="Search for Posters" v-model='newSearch'>
            <input  class="btn" type="submit" value="Search"  >
        </form>
        <div v-if='results!=undefined&&!loading'>
             Found {{results}} results for the search term {{lastSearch}}.
        </div>
        <div v-if='loading'>
            Your results are loading.
        </div>
    </div>
    <div class="main">
        <div class="products">
            <div class="product" v-for="(item,index) in items">
                <div>
                    <div>
                        <img class="product-image" v-bind:src='item.link'>   
                    </div>  
                </div>
                <div>
                    <h4 class="product-title">{{item.title}}</h4>
                    <p>{{price | currency }}</p>
                    <button class="add-to-cart btn" v-on:click="addItem(index)">Add To Cart</button>   
                </div>
            </div>
            <div id='product-list-bottom'>
                <div v-if="noMoreItems">End of Results</div>
            </div>
        </div>
        <div class="cart">
            <h2>Shopping Cart</h2>
            <transition-group name="fade" tag='ul'>
                <li class="cart-item" v-for="(item,index) in cart" v-bind:key="item.id">
                    <div class="item-title">
                       {{item.title}}
                    </div>
                    <span class="item-qty"> {{item.price | currency }} x {{item.qty}} </span>
                    <button class="btn" v-on:click="inc(item,index)">+</button>
                    <button class="btn" v-on:click="dec(item,index)">-</button>  
                </li>
            </transition-group>
            <div>
                <div class="empty-cart" v-if="cart.length==0">No items in cart</div>
                <transition name="fade">
                    <div v-if="cart.length!=0">Total: {{total | currency }}</div>
                </transition>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/reload/reload.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="node_modules/scrollmonitor/scrollMonitor.js"></script>
<script type="text/javascript" src="public/script.js"></script>

</body>
</html>
